@charset "UTF-8";
:root {
  --primary-color: #101828;
  --accent-color: #00ae7a;
  --secondary-color: #e4e6ec;
  --accent-gary-color: #8f96a3;
  --text-light: #ffffff;
}

/*=============================================
=            Header Section           =
=============================================*/
.header-offer {
  background-color: var(--primary-color);
  color: var(--text-light);
  height: 40px;
}

.header-offer > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

.header-offer > p > span {
  color: var(--accent-color);
}

.header-search {
  width: 560px;
  height: 48px;
  border-radius: 58px;
  border: 1px solid #e4e6ec;
  padding: 3px 3px 3px 16px;
  align-items: center;
  position: relative;
}

.header-search > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  align-items: center;
  color: var(--primary-color);
}

.header-search > .header-buttons {
  width: 103px;
  height: 42px;
  background-color: var(--primary-color);
  border-radius: 52px;
  padding: 9px 13px;
  position: absolute;
  top: 2px;
  left: 81%;
}

.header-search > .header-buttons > button,
.header-search > .header-buttons > .icons {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.header-img {
  width: 119px;
  height: 52px;
  padding-left: 40px;
}

.header .header-card {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.header .header-card > .icons {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.header .header-card > .quantity {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid var(--secondary-color);
  color: var(--text-light);
  z-index: 10;
  position: absolute;
  top: -5px;
  left: 60%;
}

.header .card-balance > span,
.header .card-balance > .balance,
.header .account {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--accent-gary-color);
}

.nav-links > li {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.nav-links > li:hover {
  color: var(--accent-color);
}

/*=============================================
=            Banner Section           =
=============================================*/
/* Regular bullets */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #f50505;
  opacity: 1;
  margin: 0 6px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #bef105;
  transform: scale(1.4);
}

/* Dynamic bullets — main (the big one) */
.swiper-pagination-bullet-main {
  background-color: #f00c7e;
  transform: scale(1.6);
}

/* Optional: smaller bullets near main one */
.swiper-pagination-bullet-prev,
.swiper-pagination-bullet-next {
  background-color: #07f81b;
  opacity: 0.6;
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */